@import './global/global-typography';
@import './global/reset';

:root {
	--primary-color: #E27D60;
	--secondary-color: #658887;
	--light-color: #FFFFFF;
	--dark-color: #000000;
	--dark-2: #37474F;
	--grey-color: #F1E8E8;
	--grey-hover-color: #DBD6D6;

	--main-padding-left-right: 5.5%;
	--max-width: 1440px;
}


[data-sal] {
  transition-duration: 1s;
}

img {
  height: auto;
}
