@import './mixins';

:root {
	--primary-color: #E27D60;
	--secondary-color: #658887;
	--light-color: #FFFFFF;
	--dark-color: #000000;
	--dark-2: #37474F;
	--grey-color: #F1E8E8;
	--grey-hover-color: #DBD6D6;

	--main-padding-left-right: 5.5%;
	--max-width: 1440px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Space Mono", sans-serif;
}

html, body {
	height: 100%;
}

h1 {
	font-size: 60px;
	font-weight: bold;
	color: var(--light-color);

	@include up-to-medium-large {
		font-size: 42px;
	}

	@include up-to-small {
		font-size: 32px;
	}
}

h2 {
	font-size: 36px;
	font-weight: bold;
	color: var(--dark-color);
}

h3 {
	font-size: 24px;
	font-weight: bold;
	color: inherit;
}

h4 {
	font-size: 20px;
	font-weight: bold;
	color: var(--dark-color);
}

p {
	font-size: 16px;
	font-weight: normal;
	color: var(--dark-color);
}

button {
	background: transparent;
	border: none;
	display: inline-block;
}

@include up-to-medium {
	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 20px;
	}

	h4 {
		font-size: 16px;
	}

	p {
		font-size: 14px;
		font-weight: normal;
		color: var(--dark-color);
	}
}

.has-text-center {
	text-align: center;
}
