$font-family: 'Montserrat', sans-serif;

$spacing: 0.8rem;

//Colors
$primary-gradient: linear-gradient(90deg, #71C9C1 -0.01%, #46C7F0 100%);
$accent-primary: #E94E1B;
$accent-primary-hover: #EE7A54;
$accent-secondary: #1E738A;
$accent-secondary-hover: #5696A7;
$text-light: #6A6D70;
$text-dark: #383C41;
$neutral: #F2F6FF;
$white: #FFF;


$border-radius: 1rem;