$font-family: 'Rubik', sans-serif;

// Colors system
$primary-500: #25e1f5;
$primary-450: #4d5df7;
$primary-400: #616ff8;
$primary-150: #c4c9fc;
$primary-50: #ebedfe;
$primary-color: $primary-500;
$dark-grey-500: #202023;
$dark-grey-650: #161619;
$dark-grey-450: #363639;
$dark-grey-400: #4d4d4f;
$dark-grey-350: #636365;
$dark-grey-300: #79797b;
$dark-grey-250: #909091;
$dark-grey-200: #a6a6a7;
$dark-grey-150: #bcbcbd;

$navy-dark-20: #313135;
$navy-gray-lighten10: #7d7d88;
$navy-gray-base: #616170;
$navy-gray-darken-5: #55555d;

$error: #f63939;

$grey-500: #d2d2d3;
$grey-50: #f8f8f8;

$white: #ffffff;
$light-color: $white;

$skelleton-background: #eeeeee;
