@import '../../assets/scss/mixins';

.hero {
	position: relative;
	background-image: url(../../images/hero-image.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&__container {

	}

	&__overlay {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background: #37474F99;
	}

	&__title-container {
		display: flex;
		align-items: center;

		&:first-child {
			margin-bottom: 16px;
		}
	}

	&__title {
		display: inline-block;
	}

	&__icon {
		&--right {
			margin-right: 40px;
		}
		&--left {
			margin-left: 40px;
		}
	}

	@include up-to-medium {
		&__container {
			padding: 120px var(--main-padding-left-right) 120px var(--main-padding-left-right);
		}
	}

	@include up-to-small {
		&__icon {
			width: 60px;
		}
	}

	@include up-to-xsmall {
		&__title-container {
			&--reverse {
				flex-direction: row-reverse;
				margin-right: 0;
			}
		}

	}
}
