.landing-section-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 80px;
	padding-top: 200px;

	&__images-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__icon {
		width: 60px;
		height: 60px;
		margin-bottom: 8px;
	}

	&__icon-text {
		font-weight: bold;
	}

	&__image-1 {
		border-radius: 20px;
		bottom: 50px;
		right: -130px;
	}

	&__image-2 {
		border-radius: 20px;
		top: 100px;
	}

	&__title {
		margin-bottom: 16px;
		font-weight: bold;
	}

	&__paragraph {
		margin-bottom: 32px;
	}

	&__icons-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 80px;
		grid-row-gap: 24px;
	}

	@include up-to-medium-large {
		grid-template-columns: 1fr;

		&__images-container {
			display: none;
		}
	}

	@include up-to-medium {
		padding-top: 600px;
	}

	@include up-to-xsmall {
		&__icons-container {
			grid-template-columns: 1fr;
			grid-row-gap: 24px;
		}
	}
}
