.landing-section-6 {
	background-color: var(--grey-color);

	&__container {
		display: grid;
		grid-template-columns: max-content 1fr;
		grid-gap: 64px;
		max-width: var(--max-width);
		padding-right: var(--main-padding-left-right);
		padding-left: var(--main-padding-left-right);
		margin: 0 auto;
	}

	&__question-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px 24px;
		border-bottom: 1px solid var(--dark-color);
		cursor: pointer;
		transition: background-color 0.1s ease-in;

		&:hover {
			background-color: var(--grey-hover-color);
		}

		&:first-child {
			border-top: 1px solid var(--dark-color);
		}
	}

	&__question-title {
		font-weight: normal;
	}

	&__answer {
		padding: 30px 24px;
		white-space: pre-wrap;
	}

	&__chevron {
		transition: transform 0.3s ease-in;

		&--active {
			transform: rotate(180deg);
		}
	}

	&__collapse {
		width: 100%;
		display: block;
		position: relative;
		overflow: hidden;
		transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);

		&--gradient {
			.app__content {
				border-color: transparent;
			}

			&:after {
				pointer-events: none;
				transition: opacity 300ms;
				will-change: opacity;
				opacity: 1;
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(transparent 50%, white);
			}
		}

		&--active {
			&:after {
				opacity: 0;
			}
		}
	}

	@include up-to-medium-large {
		&__container {
			display: grid;
			grid-template-columns: 1fr;
		}
	}
}
