.landing-section-5 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 100px;

	&__title {
		margin-bottom: 16px;
	}

	&__paragraph {
		margin-bottom: 24px;
	}

	&__left-side {
		align-self: center;
		justify-self: center;
		max-width: 300px;
	}

	&__recomendation-container {
		display: flex;
		background-color: var(--primary-color);
		border-radius: 5px;
		padding: 32px 16px;
		position: relative;
		color: var(--light-color);

		&:nth-child(2) {
			right: 60px;
		}

		&:last-child {
			right: 120px
		}

		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	&__rec-img {
		margin-right: 24px;
		border-radius: 50%;
		width: 200px;
		height: 140px;
	}

	&__recomendation-info {
		width: 100%;
	}

	&__rec-title {
		color: var(--light-color);
		margin-bottom: 8px;
	}

	&__rec-paragraph {
		color: var(--light-color);
		font-size: 1rem;
	}

	&__rec-date {
		right: 32px;
		top: 16px;
		font-size: 12px;
		color: var(--light-color);
		position: absolute;
	}

	@include up-to-medium-large {
		grid-template-columns: 1fr;
		grid-gap: 40px;

		&__left-side {
			align-self: center;
			justify-self: center;
			max-width: unset;
		}

		&__recomendations {
			display: flex;
			flex-direction: column;
			align-self: center;
			justify-self: center;
			width: 70%;
		}

		&__recomendation-container {
			&:nth-child(2) {
				right: 0;
			}

			&:last-child {
				right: 0;
			}
		}
	}

	@include up-to-medium {
		&__recomendations {
			width: 100%;
		}
	}
}
