.hero-section {
  position: relative;
  background-color: $text-dark;

  &__background {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 101%;
    height: auto;
    z-index: -1;
  }

  &__title {
    background: linear-gradient(90deg, #d8fffb -0.01%, #46c7f0 17%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    &--mb {
      margin-bottom: space(3);
    }
    &--line-height-1 {
      line-height: 1.2;
    }
  }

  &__body {
    margin-bottom: space(4);
    color: $neutral;
    max-width: 56rem;
  }

  &__container {
    padding-top: 12rem;
    padding-bottom: 9rem;
    position: relative;
  }

  &__hero-img {
    position: absolute;
    right: 0;
    top: -100px;
    z-index: 1;
  }

  @media (max-width: 1250px) {
    &__background {
      width: 160%;
    }
  }

  @include up-to-medium {
    &__hero-img,
    &__background-display {
      display: none;
    }
  }

  @media (min-width: 2200px) {
    background-color: $text-dark;

    &__background {
      display: none;
    }
  }
}

.curve {
  position: absolute;
  height: 250px;
  width: 100%;
  bottom: 0;
  text-align: center;

  @include up-to-medium {
    display: none;
  }
}

.curve::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  transform: translate(85%, 60%);
  background-color: $neutral;
  z-index: 0;
}

.curve::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: $text-dark;
  transform: translate(-4%, 40%);
  z-index: 0;
}
