.button {
	@include button;
	padding: space(2) space(5);
	background-color: $accent-primary;
	color: $neutral;
	border-radius: $border-radius;
	transition: background-color 0.1s ease-in;
	width: fit-content;
	cursor: pointer;
	position: relative;

	&:focus-visible,
	&:hover {
		background-color: $accent-primary-hover;
	}

	&--is-loading {
		padding-top: 0;
		padding-bottom: 0;
	}

	&--secondary {
		background-color: $accent-secondary;

		&:focus-visible,
		&:hover {
			background-color: $accent-secondary-hover;
		}
	}
}
