.footer {
	background-color: $text-dark;
	color: $neutral;
	padding-top: space(5);

	&__top {
		display: flex;
		justify-content: space-between;
	}

	&__links-container {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	&__service-title {
		font-weight: bold;
		margin-bottom: space(3);
	}

	&__link {
		font-size: 1.4rem;
		margin-bottom: space(2);
	}

	&__links {
		display: flex;
		flex-direction: column;

		&:not(:last-child) {
			margin-right: 2.4rem;
		}
	}

	&__contacts {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: space(2);
		margin-right: 12rem;
	}

	&__contact-link {
		color: $accent-primary-hover;
		text-decoration: none;
		font-weight: bold;
		transition: all 0.2s ease-in-out;

		&--hoverable {
			&:hover {
				background: linear-gradient(90deg, #d8fffb -0.01%, #46c7f0 1%);
				background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}

	&__bottom {
		padding: space(2) 0;
		margin-top: space(5);
		border-top: 1px solid #5b5f65;
	}

	&__bottom-items {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__social-link {
		transition: color ease-in 0.2s, transform ease-in 0.2s;

		&:focus-visible,
		&:hover {
			color: $accent-primary;
			transform: scale(1.2);
		}
	}

	@include up-to-medium-large {
		&__top {
			flex-direction: column;
		}

		&__contacts {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			margin: 0 0 2.4rem 0;
			align-items: center;
		}
	}

	@include up-to-medium {
		&__contacts {
			grid-template-columns: 1fr 1fr;

			& > :nth-child(1) {
				grid-area: 1 / 1 / 1 / 2;
			}

			& > :nth-child(2) {
				grid-area: 2 / 1 / 2 / 1;
			}
	
			& > :nth-child(3) {
				grid-area: 2 / 2 / 2 / 2;
			}
			& > :nth-child(4) {
				grid-area: 3 / 1 / 3 / 2;
			}
		}

		&__links-container {
			margin-top: -2.4rem;
			flex-wrap: wrap;
		}

		&__links {
			margin-top: 2.4rem
		}
	}

	@include up-to-xsmall {
		&__contacts {
			grid-template-columns: 1fr;

			& > :nth-child(1) {
				grid-area: unset;
			}

			& > :nth-child(2) {
				grid-area: unset;
			}
	
			& > :nth-child(3) {
				grid-area: unset;
			}
			& > :nth-child(4) {
				grid-area: unset;
			}
		}
	}
}
