.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: space(5);
	cursor: pointer;
	position: relative;
	z-index: 2;

	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__nav-link {
		color: $neutral;

		&:not(:last-child) {
			margin-right: space(9);
		}
	}

	&__nav-mobile {
		display: none;
	}

	&__nav-paslaugos-btn {
		position: relative;
		display: inline-block;
		font-size: 1.6rem;
	}

	&__additional-menu {
		position: absolute;
		background: $white;
		padding: 2.4rem;
		min-width: 24rem;
		z-index: 1;
		display: flex;
		box-shadow: 0px 25px 50px rgba($text-dark, $alpha: 0.3);
		border-radius: $border-radius;

		& > div:first-child {
			padding-right: 5.4rem;
			height: 10rem;
		}

		& > div:last-child {
			width: 30rem;
		}
	}


	&__nav-paslauga-item {
		width: fit-content;
		font-size: 1.6rem;
		color: $text-dark !important;
		white-space: nowrap;
		margin: 0.8rem 0;
		display: inline-block;
		display: block;
		
		&--active {
			color: $accent-primary-hover !important;
		}
	}

	@include up-to-medium-large {
		&__nav, &__cta-btn {
			display: none;
		}

		&__nav-mobile {
			display: inline-block;
		}
	}
}