.hero-order {
	border-radius: $border-radius;
	background-color: $white;
	box-shadow: 0px 25px 50px rgba(56, 60, 65, 0.15);
	max-width: 75.6rem;
	padding: space(2);
	position: relative;
	z-index: 3;

	&__inputs-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: space(2);
		grid-row-gap: space(1);
		margin-bottom: space(3);
	}

	&__button {
		margin-left: auto;
	}

	@include up-to-medium {
		&__inputs-container {
			grid-template-columns: 1fr;
		}
	}
}
