.order-modal-form {
	&__inputs {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 1.6rem;
		max-width: 40rem;
		margin: 0 auto 2.4rem auto;

        label {
            text-align: left;
        }
	}
}

.order-modal {
	&__title {
		margin-bottom: 1.6rem;
        color: $text-dark;
	}
}
