.section {
	padding: 0 4.8rem;

	&--default-padding {
		padding-top: 9rem;
		padding-bottom: 9rem;
	}

	@include up-to-medium {
		padding: 0 2.4rem;

		&--default-padding {
			padding-top: 8rem;
			padding-bottom: 8rem;
		}
	}
}
